@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h1{
    color: white;
    text-shadow: 1px 1px 1px black;
    height: 50px;
    margin: 10vh auto 3vh auto;
    text-align: center;
}
body{
    background: rgb(121, 121, 252) url('https://imagens.ebc.com.br/8xKcHf5qMWbHZr32dD1CGcvbOZk=/1170x700/smart/https://agenciabrasil.ebc.com.br/sites/default/files/thumbnails/image/2020-09-25t121331z_1_lynxnpeg8o13a_rtroptp_4_dolar-abre.jpg?itok=plKfd8bG') center center no-repeat fixed;
    background-size: cover;
}
form{
    box-sizing: border-box;
    margin: 20vh auto auto auto;
    
    border: 1px solid rgba(0, 0, 0, 0.144);
    border-radius: 5px;
    background-color: rgba(75, 75, 75, 0.779);
    height: 180px;
    width: 320px;
    padding: 5px 0px 15px 0px;
    
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    }
    h3{
        text-shadow:1px 1px 1px 0.671 black;
    }
    input{
        margin-top: 10px;
        padding:5px;
    }
    button{
        position: relative;
        margin-top: 3vh;
        width: 110px;
        font-weight: bold;
        font-size: 0.9em;
    }
    h2{
        box-sizing: border-box;
        margin:10px auto auto auto;
        height: calc(0% + 5px);
        width: calc(0% + 320px);
        color: white;
        text-align: center;
        border-radius: 5px;
        background-color: rgba(75, 75, 75, 0.779);
        text-shadow: 1px 1px 1px black;
    }
